# Node modules
node_modules/

node_modules
package-lock.json
# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# VS Code settings
.vscode/

# TypeScript
*.tsbuildinfo

# Mac / Linux
.DS_Store

# Windows
Thumbs.db
